#adminLogin{
    font-size: 1.0rem;
    
}
#adminNav{
    display: flex; 
    justify-content: flex-end;
}
.adminNavItem{
    width:63px
}
form{
    display: flex;
    height: 400px;
    flex-direction: column;
    width: 50%;
}
input, button{
    margin-top: 10px;
}
