#adminLogin{
    font-size: 1.0rem;
    
}
#adminNav{
    display: flex; 
    justify-content: flex-end;
}
.adminNavItem{
    width:63px
}
form{
    display: flex;
    height: 400px;
    flex-direction: column;
    width: 50%;
}
input, button{
    margin-top: 10px;
}
li img{
    max-width: 100px;
}
.mainLogo{
    height: 240px;
    width: 100%;
}
footer{
    margin-top: 5rem;
    height: 180px;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
    height: 30px;
}
.addItemForm{
    height: auto;
}
.cardImage{
    max-width: 100px
}
.cartItem{
height: auto;
width: auto;
}